html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 40px;
  display: block;
  height: auto;
}

header {
  background-color: #d05c2e;
  text-align: center;
}

body {
  margin: 0;
}

.list {
  display: flex;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: .5em 0;
}

.list nav {
  border-top: 1px solid #a63f38;
  border-bottom: 1px solid #a63f38;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

nav li {
  width: 33.3333%;
}

li a {
  color: #fff;
  text-decoration: none;
  padding: .4rem 0;
  font-size: 1.125rem;
  display: block;
  width: 100%;
}

.home {
  border-right: 1px solid #a63f38;
  justify-content: flex-start;
}

.legumes {
  justify-content: flex-end;
  border-left: 1px solid #a63f38;
}

a:hover {
  background-color: #a63f38;
}
