html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #d05c2e;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 40px;
}

body {
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 0 .67em;
  padding: .5rem;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: stretch;
}

nav a {
  border: solid 1px #a63f38;
  color: #fff;
  text-decoration: none;
  width: 33.3333%;
  padding: .4rem 0;
}

a:hover {
  background-color: #a63f38;
}
